<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <title>Hello World!</title>
    <script src="{{ url_for('static', filename='scripts/myScript.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/myHyperscript._hs') }}" type="text/hyperscript" defer></script>
    <script src="{{ url_for('static', filename='scripts/hyperscript.js') }}" defer></script>
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="bg-background">

    <header class="bg-primary p-4 m-6 text-lg rounded-2xl text-text shadow-lg">
      <h1>DALL-E Assistant</h1>
    </header>
    <main>
      <!-- <input id="prompt" />
      <button _="
      on click
      get window.ai.generateImages(#prompt's value)
      set imgs to it's data's url
      for img in imgs
      make an <img  /> then set it's src to img
      add .generated-image to it
      call setHyperscript(it, 'install Copyable()')
      put it at the end of #gallery
      ">Generate Images</button>
      <button _="on click set #gallery's innerHTML to ''">Clear</button>
      <div id="gallery"></div> -->
    </main>
    <footer>

    </footer>

  </body>
</html>